body {
    text-align: center
}

html {
  background-color: #02161d;
}

.container {
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: left;
}

#terminal {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 20px;
    color: #829395;
}

#terminal > .info {
    color: #eee8cc;
}

#terminal .hash {
    color: #2fa198;
}

#terminal .name {
    color: #2fa198;
}

#terminal .ip {
    color: #85981c;
}

#terminal .location {
    color: #b4881d;
}

#terminal .prompt {
    color: #d93435;
}