html {
    background-color: #02161d;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#root {
    margin-top: 30px;
    margin-left: 20px;
}

#terminal pre,
#terminal label,
#terminal input {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 13px;
    color: #829395;
    margin: 0;
    padding: 0;
    line-height: 18px;
}

#terminal pre {
    display: inline-block;
}

#terminal>ul {
    padding: 0;
    margin: 0;
}

#terminal>ul,
#terminal>ul>li {
    margin-bottom: 2px;
}

#terminal li {
    list-style: none;
}

#terminal input {
    padding: 0;
    border: none;
    outline: none;
    background-color: #02161d;
}

#dancing-jesus {
    position: fixed;
    top: 20px;
    right: 40px;
}

#terminal>.info {
    color: #eee8cc;
}

#terminal .hash {
    color: #2fa198;
}

#terminal .name {
    color: #2fa198;
}

#terminal .ip {
    color: #85981c;
}

#terminal .location {
    color: #b4881d;
}

#terminal .prompt {
    color: #d93435;
}

.comic-font {
    font-family: 'Comic Sans MS' !important;
    font-size: 15px !important;
}

.anim-grow {
    animation-name: grow;
    animation-direction: alternate;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
}

.anim-rotate {
    animation-name: rotate;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes grow {
    from {
        font-size: 100%
    }
    to {
        font-size: 300%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}