background-color = #02161d
text-color = #829395
prompt-color = #d93435

html
    background-color: background-color
    height: 100%

body
    height: 100%
    terminal-font()

#root
    margin-top: 30px
    margin-left: 20px
    margin-right: 20px

terminal-font()
    font-family: monaco, Consolas, 'Lucida Console', monospace
    font-size: 13px
    line-height: 18px

#terminal
    pre
        display: inline-block
    pre, label, input, a, span, div
        margin: 0
        padding: 0
        terminal-font()
        white-space: pre-wrap;
    .cli-input
        padding: 0
        border: none
        outline: none
        background: transparent
    .prompt
        color: prompt-color

.line
    terminal-font()
    color: text-color
    margin-bottom: 2px    

.line-normal
    // margin-left: 25px

.mobile-block
    display: flex
    flex-wrap: wrap-reverse
    align-items: center        
    
    img
        margin-right: 20px
        width: 250px
    
    .mobile-block-text
        max-width: 400px
    
    .mobile-block-title
        color: prompt-color
        margin-bottom: 15px

.input-form
    padding-bottom: 20px

    input
        color: text-color